@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #dd6b20;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-drawer-button {
    display: none;
}

@media screen and (max-width: 800px) {
    .sidebar-container {
        display: none !important;
    }

    .sidebar {
        border-right: none !important;
    }

    .sidebar-drawer-button {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .blogs-search {
        flex-direction: column;
    }
}
